name: Test geoconnex.us

on: [pull_request]

jobs:
  check-duplicate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        name: setup Python
        with:
          python-version: 3.8
      - name: test duplicate
        run: |
          pip3 install git+https://github.com/cgs-earth/yourls-action.git#subdirectory=yourls-action
          yourls-action validate namespaces
